<ul id="userlist" class="list-disc">
    {% for user in event.users.all %}
        <li>{{ user.username }}</li>
    {% endfor %}
</ul>

<button type="button"
    id="subscribe-btn"
    class="mt-6 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
    hx-post="{% url 'subscribe' event.pk %}"
    hx-target="#userlist"
    hx-swap="beforeend"
    hx-swap-oob="true"
>
    Subscribe
</button>

